<div class="top-container">
    <h1 id="header" class="text">Welcome to your Personal Task Manager!</h1>
    <p id="info" class="text">Where productivity meets simplicity. Log in to unlock a seamless experience to help you organize, prioritize, and update your daily, monthly, yearly tasks effortlessly.</p>
    <p><b><i>Your agenda, your rules, a tap away!</i></b></p>

</div>