<%- include('partials/header') %>

    <div>

        <%- include('partials/left') %>

        <div class="bottom-container">
            <h4>Sign in for a personalized task management journey.</h4>
            <div class="square">
                <form action="/login">
                    <button type="submit" class="btn btn-outline-dark button-89" role="button">Login</button>
                </form>
                <form action="/register">
                    <button type="submit" class="btn btn-outline-dark button-89" role="button">Sign up</button>
                </form>
            </div>
        </div>

    </div>

<%- include('partials/footer') %>



